<html>

<head>

    <title>Поиск билетов</title>

</head>

<body>

    <h1> Найденные рейсы </h1>

    <table border="1">
        <tr>
            <th>Откуда</th>
            <th>Отбытие</th>
            <th>Куда</th>
            <th>Прибытие</th>
            <th>Цена</th>
            <th>Id</th>
            <th></th>
        </tr>

        {{#each Routes}}
    <tr>
        <td>{{this.STRcity}}</td>
        <td>{{this.STRtime}}</td>
        <td>{{this.ARRcity}}</td>
        <td>{{this.ARRtime}}</td>
        <td>{{this.price}}</td>
        <td>{{this.routeid}}</td>

        <td> <a href="/routes/editRoute/{{this.routeid}}">Редактировать</a> </td>
        <td> <a href="/routes/deleteRoute/{{this.routeid}}">Удалить</a> </td>
        <td> <a href="/sales/addToCart/{{this.routeid}}">Купить</a> </td>
    </tr>
        {{/each}}

    </table>
    <br />

    <a href="/routes">Назад</a>

</body>

</html>