<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/style.css">
    <title> TEST </title>
    <meta charset="utf-8" />
</head>

<body>
    <button id="city" onclick="location.href = 'http://localhost:3000/sort?start=Moscow&arrival=Saint%20Petersburg&date=2024-12-25'">Moscow</button>

    <table>
        <tr>
            <th>From</th>
            <th>To</th>
            <th>Start time</th>
            <th>Arrival time</th>
            <th>Price</th>
        </tr>

        {{#each route}}
    <tr>
        <td>{{this.STRcity}}</td>
        <td>{{this.ARRcity}}</td>
        <td>{{this.STRtime}}</td>
        <td>{{this.ARRtime}}</td>
        <td>{{this.price}}</td>
    </tr>
        {{/each}}

    </table>
</body>
</html>