<html>

<head>
    <title>Список клиентов авиакомпании</title>
</head>

<body>
    <p><a href="/clients/addClient">Новый клиент</a></p>
    <h1> Список клиентов</h1>

    <table border="1">
        <tr>
            <th>ClientId</th>
            <th>Имя</th>
            <th>Почта</th>
            <th>Телефон</th>
            <th></th>
        </tr>

        {{#each Clients}}
        <tr>
            <td>{{this.clientId}}</td>
            <td>{{this.clientName}}</td>
            <td>{{this.email}}</td>
            <td>{{this.phone}}</td>

            <td> <a href="/clients/editClient/{{this.clientId}}">Редактировать</a> </td>
            <td> <a href="/sales/getHistory/{{this.clientId}}">История</a></td>
        </tr>
        {{/each}}

    </table>
    <br />

    <a href="/">Назад</a>

</body>
</html>

