<!DOCTYPE html>
<html lang="ru">

<head>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="/css/style.css">
    <title> Корзина </title>
</head>

<body>
    <div class="body-content">

        <div class="header-buttons">
            <a href="/" class="header-button">Главная страница</a>
        </div>


        <div class="clients-list">
            <a>Оформление заказа </a>
        </div>
        <div class="container">
            {{#if cartTickets.length}}
            <table>
                <tr>
                    <th>Откуда</th>
                    <th>Время отбытия</th>
                    <th>Куда</th>
                    <th>Время прибытия</th>
                    <th>Цена</th>
                </tr>
                {{#each cartTickets}}
                <tr>
                    <td>{{this.STRcity}}</td>
                    <td>{{this.STRtime}}</td>
                    <td>{{this.ARRcity}}</td>
                    <td>{{this.ARRtime}}</td>
                    <td>{{this.price}}</td>
                </tr>
                {{/each}}
            </table>

            <label>
                ВСЕГО: {{totalPrice}} рублей
            </label>
            <br />

            <form action="/sales/cartToHistory" method="POST">
                <select name="clientId" id="clientId">
                    <option value="0">Выберите Клиента</option>
                    {{#each Clients}}
                    <option value="{{this.clientId}}">{{this.clientName}}</option>
                    {{/each}}
                </select>

                <button type="submit">Оплатить заказ</button>
            </form>
            {{else}}
            <p style="font-size:24px; color:white;">Ваша корзина пуста.</p>
            {{/if}}
        </div>

    </div>

</body>


<footer class="footer">
    <p>&copy; 2025 Авиасервис. Все права защищены. (кроме женских) </p>
</footer>



</html>